
.hey{
    color: antiquewhite;

}
.bye{
    color: antiquewhite;
}
.betty{
    color: aqua
}
.about{
   
    padding-left: 500px;
    text-decoration: none;
}
.about:hover{
color: aqua;
}

.hiking{
    color: blue;
}
.room{
    color: aqua;
}
.sample{
    
    color: aqua ;
     
}
.sample2{
    
        color: aqua;
        
    
}
.room2{
    color: aqua;
}
.hiking2{
    color: blue ;
}
           